<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
</head>
<body>
    <h1>Hello This is my first webpack app</h1>
    <input type='number' id='firstValue' />
    <input type='number' id='secondValue' />
    <button id='addMe' onclick="handleClick()">Click Me</button>
    <h1 id='result'></h1>
    <img src="../assets/webpack.svg" />
    <script type="module" src="../../dist//main.js"></script>
</body>
</html>